* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 1px;

  font-family: "Open Sans", sans-serif;
}

body {
  line-height: 1.6;
  height: 100vh;
  /* overflow: hidden; */
}

.container {
  width: 100%;
  height: 100%;

  /* overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;*/
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 80px;
  /* background-color: black; */
  border-bottom-width: 1px;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 3vh;
}

.navbar ul li a:hover {
  color: black;
}

.headersection {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background: linear-gradient(to left, #021d0614, #3300000d);
}

#logo {
  font-size: 21px;
  font-family: "Roboto Mono", monospace;
  font-weight: lighter;
}

.hero {
  width: 100%;
  background-color: 20px -4px 121px 42px rgba(43, 40, 4, 0.16);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hero > img {
  margin-top: 40px;
  height: 80%;
  object-fit: scale-down;
  box-shadow: 2px 4px 5px 5px grey;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

section h1 {
  font-size: 4rem;
}

#Artist div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  height: 70%;
  width: 80%;
  padding-top: 2%;
  border-top: solid;
  border-width: 1px;
}

#Artist img {
  height: 80%;
  object-fit: cover;
  margin: 1%;
  box-shadow: 2px 4px 5px 5px grey;
}
#Artist h4 {
  font-size: 2m;
  width: 15%;
  margin: 1%;
  color: black;
}

#Contact {
  display: flex;
  background-color: white;
  color: black;
  font-size: larger;
  flex-flow: column;
  justify-content: center;
}

#Contact button {
  color: black;
  min-height: 50px;
  min-width: 120px;
}
