* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, #021d0614, #3300000d);
  z-index: -1;
}

nav {
  display: grid;
  min-height: 10vh;
  color: #d2a005;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}

#logo {
  font-size: 21px;
  font-family: "Roboto Mono", monospace;
  font-weight: lighter;
}

.hamburger {
}

section {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.hero {
  width: 100%;
  height: 60%;
  background-color: 20px -4px 121px 42px rgba(43, 40, 4, 0.16);
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
